@model One_To_Many_RawSqL.Models.Products

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P_Detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P_Detail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P_ImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P_ImgUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.P_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
